
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; 
    color: #e5e7eb; 
    line-height: 1.6;
    transition: background-color 0.3s;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header{background-color: black;}

main{
    background-image: url(images/mm.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
justify-content: center;
}

h1{color:yellow}
h2{color: yellow}

p{color: green;}



.text img{width: 400px;
border-radius: 360%;
height: 400px;
background-color: #4ade80;

}




nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

nav li {
    margin: 5px 10px;
}

nav a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #ccc;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.1s;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    background-color: transparent;
    color: yellow; 
}





.text a img{width: 5%;
    height: 100%;
}



nav a {padding-right: 45px;}

.button,.download{justify-content: center;
    border-radius: 8px;
    padding: 15px;
    

}

.download{color:yellow;
border: 2px solid pink;

text-decoration: none;}

.download:hover{background-color:green;
color: #1a1a1a;
transform: translate(-2px);}

.footer,.foooter{padding: 10px;}

.foooter{color: grey;

}

.page-content{padding: 80px 20px;
min-height: 70vh;
}

.container{justify-content: center;}

.card {background-color:transparent;
padding: 30px;
border-radius: 8px;
flex-basis: 30%;
}

.card:hover{background-color:green;

}




