
body {
    font-family: Arial, sans-serif;  /* nature of the body content*/
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; 
    color: #e5e7eb; 
    line-height: 1.6;
    transition: background-color 0.3s;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}




header{background-image: url(images/3357683.jpg);}  /* nature of the header (background)*/



main{
    background-image: url(images/6150433.jpg);  /* nture of the content in the main*/
background-size: cover;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
justify-content: center;
}



h1{color:yellow}              /*all heading (1) to yeloww color*/
h2{color: yellow}     /*all heading (2) to yeloww color*/

p{color: green;}                     /*all paragraphs  to yeloww color*/




 /*PROFILE PICTURE EDIT*/

.text img{width: 400px;             /*profile picture resizing,background*/
border-radius: 360%;
height: 400px;
background-color: #4ade80;

}




 /*THE LINKS EDIT*/

nav ul {
                                                
    justify-content: center;                  /*nature of the links preview*/
    display: flex;
    margin: 0px;
    padding: 0%;
    
}
  

nav a {                                                                          
    display: block;                            /*structure of the links (color,border radiuous etc)*/
    padding: 10px 15px;
    text-decoration: none;
    color: #ccc;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.1s;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding-right: 45px;

}


nav a:hover {
                                           /*color blink design for the links*/
    color: yellow; 
}



 /*SOCIAL MEDIA LINK IMGS*/

.text a img{width: 5%;           /*gifs resizing*/
    height: 100%;
}



 /*DOWNLOAD  CV BUTTON EDIT*/

.button,.download{justify-content: center;
    border-radius: 8px;      
    padding: 15px;
    
    

}

.download{color:yellow;
border: 2px solid pink;

text-decoration: none;

}


.download:hover{background-color:green;

transform: translate(-2px);}


 /*FOOTER SECTION*/

.footer,.foooter{padding: 10px;}

.foooter{color: grey;
    background-image: url(images/3357683.jpg);

}



 /*EDIT FOR OTHER ELEMENTS IN OTHER PAGES*/



.page-content{padding: 80px 20px;
min-height: 70vh;
}

.container{justify-content: center;}


 /*edit for all cards*/


.card {
    background-image: url(images/4865876.jpg);
padding: 30px;
border-radius: 8px;
flex-basis: 30%;

}

.card:hover{background-color:lightskyblue;

}

.feature-card{display: inline-flex;
    gap: 30px;

    justify-content: center;
}

/*contact us design interface*/


.download{width: 150px;}


